{% extends "base.html" %}

{% block title %}<title>{{ question.question_text }}</title> {% endblock title %}

{% block content %}
<section class="container">
    <h1>{{ question.question_text }}</h1>
    <form action="{% url 'vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p style="color: red"><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choices.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Голосовать!">
    </form>
</section>
{% endblock content %}